//=============================================================================
//===
//=== (C) Copyright 2018 Hewlett Packard Enterprise Development LP.
//===
//=== Use of this source code is governed by an MIT-style license that can be
//=== found in the LICENSE file
//=============================================================================

@import "../../constants";

//=============================================================================

.label {
	width     : $formLabelWidth;
	text-align: start      !important;
	color     : $colorText !important;
}

//=============================================================================

:host ::ng-deep .iconStyle {
	vertical-align: baseline;
}

//=============================================================================
